/* Import fonts */
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url(../fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf);
}

/* Declaring main variable colours */
:root {
  
}

/* Overwriting Bootstrap CSS variables */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.accordion {
  --bs-accordion-active-bg: #ffc88d;
  --bs-accordion-active-color: #000;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 133, 0, 0.609);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  font-family: "OpenSansSemibold";
}

textarea:focus, input:focus{
  outline: none;
}