/* Import fonts */
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url(../fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf);
}

/* Main variable colours */
:root {
  --primary-black: #000;
  --primary-white: #fff;
  --primary-orange: #FF8500;
  --primary-border: #ccc;
  --primary-grey: #d3d3d3;

  --primary-iconButton: #808080;

  --secondary-black: #333;
  --secondary-orange: #FFA500;
  --secondary-grey: #f3f3f3;
  --secondary-border: #ececec;

  --header-grey: #efefef;
  --body-grey: #F3F4F6;
  --search-primary: #e5e5e5;
  --footer-primary: #eeeeee;
  --footer-search: #d4d4d4;
  --modal-content: #fefefe;

  --spinner-body: #eee8dc;
  --spinner-primary: #FF8500;
}

/* Overwriting Bootstrap CSS variables */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.accordion {
  --bs-accordion-active-bg: #ffc88d;
  --bs-accordion-active-color: #000;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 133, 0, 0.609);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  font-family: "OpenSansSemibold";
}

textarea:focus, input:focus{
  outline: none;
}