body {
  margin-top: 80px;
}

/* Creator Form Response Styles */
.response__wrapper {
  display: flex;
  flex-direction: column;
}

/* Top section */
.response__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#success__image {
  width: 400px;
  margin-bottom: 20px;
}

.response__top h1 {
  font-family: OpenSansBold;
  margin-bottom: 20px;
}

.response__top p {
  width: 60vw;
  text-align: center;
  margin-bottom: 20px;
}

#response__divider {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 20px;
  color: var(--primary-border);
  opacity: 1;
}

/* Bottom section */
.response__bottom {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 80vw;
}

.response__bottom h2 {
  font-family: OpenSansBold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.response__application {
  width: inherit;
  border: 1px solid var(--primary-border);
  border-radius: 15px;
  padding: 20px;
}

.response__firstName, .response__lastName, .response__email, .response__message {
  margin-bottom: 10px;
}

.response__application span {
  font-size: 1em;
  font-family: OpenSansRegular;
}

.response__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.response__header p {
  font-family: OpenSansBold;
  font-size: 1.2em;
  margin: 0;
  margin-left: 10px;
}

#response__button {
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: var(--primary-black);
  margin-top: 20px;
  padding: 12px 20px 12px 20px;
  color: var(--primary-white);
  text-decoration: none;
  border-radius: 10px;
  font-size: 0.9em;
}

/* Media Queries */
@media (max-width: 480px) {
  #success__image {
    width: 300px;
  }
}