body {
  margin-top: 110px;
}

/* Explore styles */
.explore__wrapper {
  padding: 0vw 6.65vw;
}

#explore__title {
  font-size: 2em;
  margin-bottom: 20px;
  padding-left: 10px;
}

#explore__divider {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--secondary-orange);
  margin-bottom: 30px;
  margin-right: 20px;
  border: none;
  opacity: 1; /* overwrite bootstrap default opacity */
}

/* Header & Container Styles */
.trending__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 30px;
}

.trending__header h2 {
  font-size: 1.6em;
  margin: 0 0 0 10px;
}

.explore__container--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.explore__container--link {
  text-decoration: none;
  color: var(--primary-black);
}

.explore__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: var(--primary-grey);
  /* width: 17vw; */
  width: 250px;
  height: 180px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 40px;
  border-radius: 15px;
  transition: transform 0.2s ease;
}

.explore__link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.explore__container:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease
}

.explore__container--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--secondary-grey);
  border-radius: 0 0 13.5px 13.5px;
}

.explore__container--footer h3 {
  font-size: 1em;
  font-family: OpenSansBold;
  margin: 0 0 0 10px;
}


/* Background images for explore containers */
#trending__animals {
  background-image: url("https://images.pexels.com/photos/52509/penguins-emperor-antarctic-life-52509.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#trending__nature {
  background-image: url("https://images.pexels.com/photos/534164/pexels-photo-534164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#trending__travel {
  background-image: url("https://images.pexels.com/photos/1448885/pexels-photo-1448885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#trending__hiking {
  background-image: url("https://images.pexels.com/photos/1365425/pexels-photo-1365425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__basketball {
  background-image: url("https://images.pexels.com/photos/1752757/pexels-photo-1752757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__film {
  background-image: url("https://images.pexels.com/photos/66134/pexels-photo-66134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__3drenders {
  background-image: url("https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__flowers {
  background-image: url("https://images.pexels.com/photos/1169084/pexels-photo-1169084.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__nightsky {
  background-image: url("https://images.pexels.com/photos/433155/pexels-photo-433155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__ocean {
  background-image: url("https://images.pexels.com/photos/1533720/pexels-photo-1533720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__art {
  background-image: url("https://images.pexels.com/photos/1183992/pexels-photo-1183992.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__fashion {
  background-image: url("https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__drinks {
  background-image: url("https://images.pexels.com/photos/3323682/pexels-photo-3323682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__cats {
  background-image: url("https://images.pexels.com/photos/96428/pexels-photo-96428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__running {
  background-image: url("https://images.pexels.com/photos/1390403/pexels-photo-1390403.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#teamPicks__sunrise {
  background-image: url("https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__backgrounds {
  background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__wallpapers {
  background-image: url("https://images.pexels.com/photos/310452/pexels-photo-310452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__iphonewallpapers {
  background-image: url("https://images.pexels.com/photos/1226302/pexels-photo-1226302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__pizza {
  background-image: url("https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__holidays {
  background-image: url("https://images.pexels.com/photos/3314866/pexels-photo-3314866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__sunrise {
  background-image: url("https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__mountains {
  background-image: url("https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__countryside {
  background-image: url("https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__resort {
  background-image: url("https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__coralreef {
  background-image: url("https://images.pexels.com/photos/3854025/pexels-photo-3854025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__solareclipse {
  background-image: url("https://images.pexels.com/photos/20209009/pexels-photo-20209009/free-photo-of-photo-of-a-total-solar-eclipse.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__nightsky {
  background-image: url("https://images.pexels.com/photos/433155/pexels-photo-433155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__northernlights {
  background-image: url("https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__ocean {
  background-image: url("https://images.pexels.com/photos/1533720/pexels-photo-1533720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__sky {
  background-image: url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__barbeque {
  background-image: url("https://images.pexels.com/photos/533325/pexels-photo-533325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__travel {
  background-image: url("https://images.pexels.com/photos/1448885/pexels-photo-1448885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__neonsigns {
  background-image: url("https://images.pexels.com/photos/3678857/pexels-photo-3678857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__pastry {
  background-image: url("https://images.pexels.com/photos/808941/pexels-photo-808941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__rain {
  background-image: url("https://images.pexels.com/photos/1529360/pexels-photo-1529360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__plants {
  background-image: url("https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
}

#mostSearched__rave {
  background-image: url("https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__forest {
  background-image: url("https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#mostSearched__wedding {
  background-image: url("https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

/* Media Queries */
@media (max-width: 1100px) {
  .explore__container {
    width: 200px;
    height: 150px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  
  .explore__container--footer {
    height: 45px;
    border-radius: 0 0 15px 15px;
  }
}

@media (max-width: 940px) {
  .explore__container {
    width: 170px;
    height: 125px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  
  .explore__container--footer {
    height: 40px;
    border-radius: 0 0 15px 15px;
  }
}

@media (max-width: 830px) {
  .explore__container {
    width: 200px;
    height: 135px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  
  .explore__container--footer {
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
}

@media (max-width: 530px) {
  .explore__container {
    width: 400px;
    height: 225px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  
  .explore__container--footer {
    height: 60px;
    border-radius: 0 0 15px 15px;
  }
}