/* Hero section styling */
.hero__section {
  position: relative; /* Position the overlay relative to the hero section */
  margin-bottom: 30px;
}

#hero__image {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
}

/* Hero content styling */
.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  color: var(--primary-white);
  text-align: center;
}

.hero__content h1 {
  margin-bottom: 20px;
  text-align: center;
  width: 40vw;
}

.hero__trending-label {
  margin-right: 10px;
  font-size: 1.2em;
}

.hero__trending-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.hero__topic-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  font-size: 1em;
  transition: background-color 0.3s;
  cursor: pointer;
}

.hero__topic-container:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.hero__topic-container i {
  margin-right: 5px;
}

/* Hero section search Bar Styling */
.hero__search-container {
  position: relative;
  display: inline-block;
  width: 40vw;
  margin-top: 20px;
}

.hero__search-bar {
  width: 100%;
  height: 50px;
  padding: 8px 40px 8px 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-white);
  font-size: 1.1em;
}

.hero__search-bar.focused {
  border-radius: 8px 8px 0 0;
  outline: none;
}

.hero__search-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-iconButton);
  cursor: pointer;
  transition: 0.2s ease;
}

.hero__search-button:hover {
  color: var(--primary-orange);
  transition: 0.2s ease;
}

/* Search suggestions box styling */
.hero__search--suggestions {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; 
  background-color: var(--primary-white);
  border: 1px solid var(--primary-border);
  border-radius: 0 0 8px 8px;
  padding-left: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: left;
}

.hero__search--suggestions p {
  margin: 10px 0px;
  font-weight: bold;
  color: var(--primary-black);
  text-align: left;
}

.search__historyLabel-button {
  border: 1px solid var(--primary-iconButton);
  background-color: transparent;
  text-align: left;
  color: var(--primary-black);
  font-size: 0.8em;
  padding: 7px 12px;
  margin-right: 10px;
  margin-bottom: 10px;;
  cursor: pointer;  
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.search__historyLabel-button:hover {
  transform: scale(1.04);
}

#search__historyLabel-icon {
  margin-left: 0px;
}

.search-suggestions i {
  margin-left: 10px;
}

#trending__historyLabel-icon {
  margin-left: 0px;
}

/* Sticky navigation search suggestions styling */
.nav__search--suggestions {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-border);
  border-radius: 0 0 8px 8px;
  padding-left: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: left;
}

.nav__search--suggestions p {
  margin: 10px 0px;
  font-weight: bold;
  color: var(--primary-black);
  text-align: left;
}

/* Image gallery styles */
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}

.column {
  width: 33.2%;
  padding: 10px;
  box-sizing: border-box;
}

.column img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.column img:hover {
  filter: brightness(0.8);
  transition: 0.2s ease;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.images__gallery {
  padding: 30px 50px;
}

#images__gallery-title {
  margin-bottom: 30px;
}

#image__container-1 img, #image__container-2 img, #image__container-3 img {
  padding-bottom: 10px;
  min-height: 100px;
  max-height: 600px;
  object-fit: cover;
}

/* Load more images styling */
#load-more-button {
  display: flex;
  margin: 0 auto;
  background-color: var(--primary-black);
  color: var(--primary-white);
  width: 140px;
  height: 45px;
  border-radius: 10px;
  border: none;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

#load-more-button:hover {
  transform: scale(1.08);
}

.spinner__container {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.spinner {
  border: 1rem solid var(--spinner-body);
  border-top: 16px solid var(--spinner-primary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: loop 2s linear infinite;
}

.loadSpinner__container {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.loadSpinner {
  border: 1rem solid var(--spinner-body);
  border-top: 16px solid var(--spinner-primary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: loop 2s linear infinite;
}

/* Animations for spinner */
@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .hero__topic-container {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85em;
  }
  
  .hero__topic-container i {
    margin-right: 5px;
  }
}

/* Media queries */
@media (max-width: 768px) {
  .column {
      width: 45%; /* Two columns per row on smaller screens */
  }

  .hero__search-container {
    position: relative;
    display: inline-block;
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .column {
      width: 100%; /* One column per row on extra small screens */
  }

  .hero__trending-wrapper {
    width: 150%
  }

  .hero__content h1 {
    width: 150%;
  }

  .hero__topic-container {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
  }
  
  .hero__topic-container i {
    margin-right: 5px;
  }
}