body {
  margin-top: 80px;
}

.hero__section {
  margin-bottom: 30px;
  background-image: url(../../media/staticimage.png);
  height: 500px;
}

/* Hero content styling */
.hero__content {
  display: flex;
  flex-direction: row;
  color: var(--primary-black);
}

/* Left side of hero content */
.hero__content--left {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  margin-left: 10vw;
}

.hero__content--left h1 {
  font-size: 3em;
  font-family: OpenSansBold;
  text-align: left;
  margin-bottom: 30px;
}

.hero__content--left p {
  font-size: 1em;
  margin-bottom: 30px;
}

#hero__button {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 13px 20px;
  background: linear-gradient(to bottom, #7A7A7A 5%, #000000 100%);
  border-radius: 10px;
  color: var(--primary-white);
  font-size: 0.9em;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#hero__button:active {
  background: linear-gradient(to bottom, #000000 5%, #7A7A7A 100%);
}

/* Right side of hero content */
.hero__content--right {
  position: relative;
  height: 500px;
  flex-direction: column;
  overflow: hidden;
  width: 50%;
}

#ring__inner, #ring__outer {
  position: absolute;
  margin-top: 150px;
  inset: 0;
  width: 820px;
}

.ring__outer {
  animation: spin 4s linear infinite;
}

.ring__inner {
  animation: reverse-spin 5s linear infinite;
}

.imageFrames__wrapper {
  z-index: 1;
  position: relative;
}

#photo__frame--1 {
  position: absolute;
  width: 250px;
  rotate: 8deg;
  top: 360px;
  left: 500px;
}

#photo__frame--2 {
  position: absolute;
  width: 130px;
  rotate: 4deg;
  top: 210px;
  left: 270px;
}

#photo__frame--3 {
  position: absolute;
  width: 170px;
  rotate: -5deg;
  top: 415px;
  left: 50px;
}

/* Animations for inner and outer ring */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes reverse-spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

/* Media Queries */
@media (max-width: 900px) {
  .hero__section {
    height: auto;
  }

  .hero__content {
    flex-direction: column;
    height: auto;
  }

  .hero__content--left {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    height: auto;
    margin-right: 5vw;
    margin-top: 60px;
  }

  .hero__content--left h1 {
    text-align: center;
    width: 95%;
  }

  .hero__content--left p {
    width: 95%
  }

  #hero__button {
    margin: 0 auto;
  }

  .hero__content--right {
    position: relative;
    flex-direction: column; 
    overflow: hidden;
    width: 100%;
  }
  
  #ring__inner, #ring__outer {
    position: absolute;
    margin-top: 100px;
    inset: 0;
  }
}

/* Main section */
main {
  margin: 150px 40px 100px 40px;
}

/* Main - Reviews section */
.main__whyJoinUs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 250px;
}

.main__whyJoinUs h2 {
  font-family: OpenSansBold;
  margin-bottom: 20px;
  font-size: 2.1em;
}

.main__whyJoinUs p {
  margin-bottom: 20px;
}

/* Reviews container styles */
.whyJoinUs__reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  border-radius: 20px;
  background-color: var(--primary-white);
  border: 1px solid var(--secondary-border);
  padding: 25px;
  margin: 20px;
}

.review__blockquote {
  width: 25px;
  margin-bottom: 10px;
}

.review__container p {
  font-size: 0.9em;
  margin: 0 0 40px 0;
}

.review__container--footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.footer__profile {
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 10px;
}

.footer__profile h4 {
  font-size: 1.1em;
  font-family: OpenSansBold;
}

.footer__profile p {
  margin: 0;
  font-size: 0.9em;
  color: #a5a5a5;
}

.footer__profile--image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

/* Media Queries */
@media (max-width: 1080px) {
  .review__container {
    width: 350px;
  }
}

/* Main - Apparel section */
.main__apparel {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 250px;
}

.main__apparel h2 {
  font-family: OpenSansBold;
  margin-bottom: 20px;
  font-size: 2.1em;
}

.main__apparel p {
  margin-bottom: 40px;
  text-align: center;
}

/* Apparel container styles */
.apparel__wrapper {
  display: flex;
  flex-direction: row;
}

.apparel__row1 {
  display: flex;
  flex-direction: row;
}

.apparel__row2 {
  display: flex;
  flex-direction: row;
}

.apparel__row1 .apparel__container {
  margin-bottom: 20px;
}

.apparel__row2 .apparel__container {
  margin-top: 20px;
}

.apparel__container {
  width: 250px;
  height: 200px;
  background-color: var(--secondary-border);
  border-radius: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.apparel__container--tour {
  width: 550px;
  height: 100%;
  border-radius: 15px;
  background-color: var(--secondary-border);
  margin-left: 20px;
}

.apparel__container--body {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: center;
  align-items: center;
}

#apparel__shirt {
  width: 60%;
  height: 90%;
  object-fit: cover;
}

#apparel__mug {
  width: 50%;
  height: 90%;
  object-fit: cover;
}

#apparel__totebag {
  width: 40%;
  height: 90%;
  object-fit: cover;
}

#apparel__pin {
  width: 60%;
  height: 90%;
  object-fit: cover;
}

#apparel__headquarters {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.apparel__container--footer {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-border);
  border-radius: 0 0 15px 15px;
}

.apparel__container--footer p {
  margin: 0;
  font-family: OpenSansBold;
  font-size: 0.9em;
}

.apparel__container--tour {
  display: flex;
  flex-direction: column;
}

.apparel__container--tourBody {
  width: 100%;
  height: 80%;
}

.apparel__container--tourFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-border);
  border-radius: 0 0 15px 15px;
}

.apparel__container--tourFooter h3 {
  font-size: 1.3em;
  font-family: OpenSansBold;
  margin: 0;
  margin-bottom: 5px;
}

.apparel__container--tourFooter p {
  font-size: 0.8em;
  margin: 0;
}

/* Media Queries */
@media (max-width: 900px) {
  .apparel__wrapper {
    flex-direction: column;
  }

  .apparel__container--tour {
    margin-top: 40px;
    margin-left: 15px;
  }

  .apparel__container--tourFooter {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .apparel__row1, .apparel__row2 {
    flex-direction: column;
  }

  .apparel__container {
    width: inherit;
    height: 300px;
  }

  .apparel__container p {
    font-size: 1.2em;
  }

  #apparel__shirt {
    width: 40%;
    height: 80%;
  }
  
  #apparel__mug {
    width: 40%;
    height: 90%;
  }
  
  #apparel__totebag {
    width: 30%;
    height: 90%;
  }
  
  #apparel__pin {
    width: 50%;
    height: 90%;
  }
}

/* Main - Benefits section */
.main__benefits {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 250px;
}

.main__benefits h2 {
  font-family: OpenSansBold;
  margin-bottom: 20px;
  font-size: 2.1em;
}

.main__benefits p {
  margin-bottom: 40px;
  text-align: center;
}

/* Table Section */
#benefits__table {
  width: 60vw;
  border-radius: 20px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

#benefits__table caption {
  caption-side: top;
  text-align: center;
}

#benefits__table tr, #benefits__table td, #benefits__table th {
  border: 1px solid var(--primary-border);
}

#benefits__table th {
  background-color: var(--header-grey);
  font-family: OpenSansBold;
  padding: 20px;
}

#benefits__table td {
  padding: 20px;
}

#benefits__table tr:first-child th:first-child {
  border-top-left-radius: 20px;
}

#benefits__table tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

#benefits__table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
  /* background-color: #7A7A7A; */
}

#benefits__table tr:nth-child(4) td:last-child {
  border-bottom-right-radius: 20px;
  /* background-color: #7A7A7A; */
}

/* Main - Partners */
.main__partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 250px;
}

.main__partners h2 {
  font-family: OpenSansBold;
  margin-bottom: 20px;
  font-size: 2.1em;
  text-align: center;
}

.main__partners p {
  margin-bottom: 40px;
  width: 60vw;
  text-align: center;
}

/* Partners Container styles */
.partners__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.partners__container img {
  width: 19vw;
  height: fit-content;
  opacity: 0.5;
  transition: transform 0.4s ease;
  transition: all 0.4s ease;
}

.partners__container img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.4s ease;
  transition: all 0.4s ease;
}

/* Media Queries */
@media (max-width: 480px) {
  .partners__container {
    flex-direction: column;
  }

  .partners__container img {
    width: 70vw;
    margin: 20px;
  }
}

/* Creator Form CSS */
.main__creatorForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 250px;
}

.main__creatorForm h2 {
  font-family: OpenSansBold;
  margin-bottom: 20px;
  font-size: 2.1em;
  text-align: center;
}

.main__creatorForm p {
  margin-bottom: 40px;
  width: 60vw;
  text-align: center;
}

/* Form styles */
.creatorForm__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.creatorForm__form {
  width: 70%;
}

.creatorForm__form label {
  font-family: OpenSansBold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.creatorForm__image {
  width: 30%;
  height: inherit;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.creatorForm__image:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
}

.creatorForm__name {
  display: flex;
  flex-direction: row;
}

.creatorForm__firstName {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.creatorForm__lastName {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.creatorForm__email {
  display: flex;
  flex-direction: column;
}

.creatorForm__message {
  display: flex;
  flex-direction: column;
}

.creatorForm__message textarea {
  resize: none;
  border: 1px solid var(--primary-border);
  border-radius: 10px;
  margin-right: 40px;
  padding: 15px 15px 15px 15px;
  font-size: 0.9em;
}

.creatorForm__form input {
  border: 1px solid var(--primary-border);
  border-radius: 10px;
  height: 45px;
  margin-right: 40px;
  padding: 5px 15px 5px 15px;
  font-size: 0.9em;
}

#form__submit {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 25px 12px 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-size: 0.9em;
}

#creatorForm__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Media Queries */
@media (max-width: 900px) {
  .creatorForm__name {
    flex-direction: column;
  }

  .creatorForm__firstName, .creatorForm__lastName {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .creatorForm__wrapper {
    flex-direction: column;
    /* width: 100%; */
  }

  .creatorForm__form {
    width: 100%;
  }

  .creatorForm__form input {
    width: 100%;
  }

  .creatorForm__form textarea {
    width: 100%;
  }

  .creatorForm__image {
    width: 100%;
  }
}

/* Main - FAQ */
.main__faq {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120px;
}

#main__faq--header {
  font-family: OpenSansBold;
  margin-bottom: 20px;
  font-size: 2.1em;
}

/* Accordion CSS */
.accordion {
  border: none;
}

.accordion-header {
  font-family: OpenSansBold;
}

#main__faq--description {
  margin-bottom: 40px;
  width: 60vw;
  text-align: center;
}

.main__faq--wrapper {
  width: 80%;
}

.body-header {
  font-family: OpenSansBold;
  font-size: 1em;
}

.accordion-body p {
  font-family: OpenSansRegular;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.accordion-body ul li {
  font-family: OpenSansRegular;
  font-size: 0.9em;
  margin-bottom: 10px;
  line-height: 15px;
}