body {
  margin-top: 80px;
  background-color: #F3F4F6;
}

.license__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.license__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 15px;
  padding: 30px;
  width: 60vw;
}

.license__container h1 {
  font-size: 1.8em;
  font-family: OpenSansBold;
}

.license__container h2 {
  font-size: 1.4em;
  margin-top: 20px;
}